:root {
    --border-radius: 5px;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Nanum Gothic', sans-serif;
}

body {
    background-color:rgb(24, 72, 141);
    color: white;
}

header {
    background-color: blue;
    background-image: linear-gradient(rgb(35, 150, 189), rgb(24, 72, 141));
    color: white;
    width: 100%;
    text-align: center;
    font-size: x-large;
    padding: 12px 0;
    text-shadow: 2px 2px 4px black;
    margin-bottom: 10px;
}

main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
    margin: 10px 10px;
}

.search {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    grid-column: span 3;
}

.search h2 {
    font-size: 2rem;
}

.search input {
    border-radius: var(--border-radius);
    height: 35px;
    font-size: large;
}

.search-btn {
    background-color: blue;
    background-image: linear-gradient(to right,rgb(35, 150, 189), rgb(79, 111, 122));
    box-shadow: 0 1px var(--border-radius) black;
    color: white;
}

.search button {
    border-radius: var(--border-radius);
    box-shadow: 0 1px var(--border-radius) black;
    height: 35px;
    font-size: large;
    font-weight: bold
}

#error {
    display: none;
    font-style: italic;
    font-weight: bold;
    color: red;
    text-shadow: 0 1px 1px black;
}

.previous-cities {
    border-top: 2px solid lightgrey;
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    padding-top: 14px;
}

.previous-cities button {
    border-radius: var(--border-radius);
    height: 35px;
    font-size: large;
    font-weight: bold;
    background-color: lightgrey;
}

.weather {
    grid-column: span 9;
}

.current {
    border: 2px solid black;
    padding: 0 20px 20px 20px;
    margin-bottom: 20px;
    line-height: 3;
}

.current h2 {
    font-size: 2.2rem;
    line-height: 2;
}

.current p {
    font-size: 20px;
}

#uv-index {
    color: white;
    font-weight: bold;
    border-radius: var(--border-radius);
    padding: 3px 10px;
    opacity: 0;
}

.five-day h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

#five-day {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
}

.card {
    background-color: rgb(35, 150, 189);
    color: white;
    padding: 10px 10px;
    border-radius: var(--border-radius);
    line-height: 1.8;
    box-shadow: 0 1px var(--border-radius) black;
}

.card h3 {
    font-size: 32px;
}

.card p {
    font-size: 20px;
}

@media (max-width: 767px) {
    main {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        column-gap: 20px;
        margin: 10px 10px;
    }

    .current {
        line-height: 2;
    }
    
    .current h2 {
        line-height: 1.2;
    }

    #five-day {
        flex-direction: column;
    }
}